body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color: white  ;
  background-color: #282e34;
  /* color:rgb(214, 10, 10); */
}

.pimg1, .pimg2, .pimg3{
  position:relative;
/*  opacity:0.70;*/
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  /* background-image:url('img/lungs.jpg'); */
  /* min-height:100px; */
}

.pimg2{
  /* background-image:url('img/img1.jpg'); */
  /* min-height:100px; */
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-dark{
  /* color:#030000; */
  /* color:#ddd; */
  
}
.card-body{
  /* color: #101922; */
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
.card{
  margin: 0 auto;
}